* {
  margin: 0;
  padding: 0;
}

:root {
  --color1: black;
  --color2: blue;
  --color2: #e3f2fe;
  --color2-rgb: 227, 242, 254;

  --alpha-diff: 0.1;
  --alpha1: 0.3;
  --aplha2: calc(var(--alpha1) + var(--alpha-diff));
  --aplha3: calc(var(--alpha2) + var(--alpha-diff));

  --global-border-size: 2px;
  --global-radius: 15px;
  --global-spacing: 25px;
  --shortcut-size: 25rem;
}

body {
  margin: var(--global-spacing);
}

.grid-container {
  display: grid;
  gap: var(--global-spacing);
}

.main-content {
  background: rgba(var(--color2-rgb), 0.3);
  padding: var(--global-spacing) ;

  border-radius: 0 0 var(--global-radius) var(--global-radius);
  min-height: 80vh;

  grid-template-columns: repeat(auto-fit, var(--shortcut-size));
  justify-content: center;
}

.grid-item {
  padding: var(--global-spacing);
  background: rgba(var(--color2-rgb), 0.4);

  transition: all 0.5s ease-in-out;
  transform: scale(1);

}

.grid-item:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.1);

  -webkit-box-shadow: -5px 7px 0px 1px #000000; 
  box-shadow: -5px 7px 0px 1px #000000;
  background-color: #e3f2fe;
  z-index: 5;
}

.en-un-clic {
  max-width: var(--shortcut-size);
  max-height: var(--shortcut-size);

  grid-template-columns: repeat(2, 1fr);
}

.clic-item {
  padding: 5px;
  border: var(--global-border-size) solid var(--color1); 
  background: rgba(var(--color2-rgb), 0.5);

  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-decoration: none;
  color: var(--color1);

  max-width: 9em;
  max-height: 9em;
}

 .clic-icon { 
  font-size: 3em !important;
}


#video-background {
/*  making the video fullscreen  */
    position: fixed;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: -100;
    
    -o-filter: blur(5px);
    filter: blur(5px);
    transform: scale(1.1);
    visibility: visible;
}

.navbar {
  position: sticky;
  border-radius: 5px;
  text-align: center;
}

.navbar-link:not(.is-arrowless)::after {
  display: none;

}

.navbar-link:not(.is-arrowless){
  padding-right: 0.75rem;
}

.v-separator
{
    content: "";
    display: inline-block;
    width: 0px;
    height: 100%;
    border-right: 1px solid #fafafa;
    border-left: 1px solid #b4b4b4;
    padding: 0;
}

.item.has-dropdown:is(:hover, :focus) .navbar-link{
  color : #1f5dca;
}

.navbar-dropdown a.navbar-item:is(:focus, :hover){
  color : #1f5dca;
}
