@tailwind base;
@tailwind components;
@tailwind utilities;

/* LOADING SCREEN DON'T TOUCH BELOW */
body {
    height: 80%;
    margin: 0;
    padding: 0;
    background: #333;
    background-attachment: fixed;
    background-size: cover;
  } 

  html {
    font-family: 'Roboto Mono', monospace;
  }

#video-background {
    position: fixed;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: -100;
    -o-filter: blur(5px);
    filter: blur(5px);
    visibility: visible;
}

  section {
    color: #fff;
    font-size: 3em;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
    z-index: -1;
    position: absolute;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.226);
  }

* {
	box-sizing: border-box;
}

.arrow_down {
    margin-top: 25%;
    height: 4vw; 
    position: absolute;
    filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(87deg) brightness(119%) contrast(119%);
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.15); }

#typed {font-size: calc(10px + 5vw); ;}

#main_page {
  width: auto;
  height: 100%;
  position: relative;
  border-radius: 15px 15px 15px 15px;
  padding: 0;
  margin: 5vh;
  display: none;
}

#visit {
  z-index: 10;
  display: flex;
}

.typed-cursor{
  font-size: 5vh;
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

/* LOADING SCREEN DON'T TOUCH ABOVE */

h1 {
  font-family: 'Syncopate', sans-serif;
  color: white;
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 3vw;
  text-align: center;
  
}

@media screen and (max-device-width: 800px) {
  html { background: url(polina.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
  }